.container {
    display: flex;
    height: 100vh;
}

.form-section {

    flex: 1;
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url('../../../assets/images/registro2.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}


.logo {
    width: 150px;
    margin-bottom: 20px;
}

h2 {
    margin-bottom: 10px;
    color: #333;
}

p {
    margin-bottom: 20px;
    color: #5a5a5a;
    text-align: center;
}

form {
    width: 100%;
    max-width: 300px;
    display: flex;
    flex-direction: column;
}

input, select, button {
    margin-bottom: 15px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #28a745;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #218838;
}

.promo-link {
    margin-top: 10px;
    color: #007bff;
    text-decoration: none;
}

.promo-link:hover {
    text-decoration: underline;
}

.testimonial-section {
    flex: 1;
    position: relative;
    background-size: cover;
    background-position: center;
}

.testimonial-image {
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

blockquote {
    position: absolute;
    bottom: 100px;
    left: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    max-width: 100%;
    margin: 0 150px;
    font-style: italic;
}

footer {
    margin-top: 10px;
    font-size: 14px;
    color: #333;
}