<body>
    <div class="category-section">
        <div class="category-header">
            <h2>Categorías</h2>
            <div class="buttons">
                <button class="add-btn" onclick="window.location.href='contenido/agregar'">Agregar Categoría</button>
                <button class="edit-btn">Modificar Categoría</button>
                <button class="delete-btn">Eliminar Categoría</button>
            </div>
        </div>
        <table class="category-table">
            <thead>
                <tr>
                    <th>Nombre de Categoría</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let categoria of categorias">
                    <td>{{categoria.nombre}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</body>