<div class="container">
    <div class="testimonial-section">
        <img src="../../../assets/images/fondo3.jpg" alt="Testimonio de usuarios" class="testimonial-image">
        <blockquote>
            “Con TrackWare, simplificamos la gestión de nuestros productos y ventas. Nos permite supervisar en tiempo real, sin complicaciones.”
            <footer>Carlos Martínez - LaTiendaVerde.com</footer>
        </blockquote>
    </div>
    
    <div class="form-section" >
        <img src="../../../assets/images/logo.png" alt="Alegra Punto de Venta" class="logo">
        <h2>Ingresa a tu cuenta</h2>
        <p>Sigue ganando tiempo y tranquilidad</p>

        <form>
            <input type="email" placeholder="Correo" required id="email"  name="correo">
            <input type="password" placeholder="Contraseña" required minlength="8" id="password"  name="password">
            <button type="submit">Ingresar</button>
        </form>
        <a href="#" class="promo-link">¿Olvidaste tu contraseña?</a>
    </div>
</div>